html,
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  overscroll-behavior: contain;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px !important;
  }
}
@font-face {
  font-family: "fontName";
  src: url("../public/fonts/IRANYekanMobileRegular.ttf") format("truetype");
}
@font-face {
  font-family: "fontNameBold";
  src: url("../public/fonts/IRANYekanMobileBold.ttf") format("truetype");
}
@font-face {
  font-family: "fontNameLight";
  src: url("../public/fonts/IRANYekanMobileLight.ttf") format("truetype");
}
.bnTab {
  display: flex;
  width: 30%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 1px;
}
.col {
  display: flex !important;
  flex-direction: column !important;
}
.colJSB {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.colJCAC {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.row {
  display: flex !important;
  flex-direction: row !important;
}
.rowAC {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.rowACJC {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}
.rowACJSB {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important ;
}
.rowJSB {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}
.padding0 {
  padding: 0 !important;
}
.loading {
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Select {
  min-width: 150px;
  border-radius: 0;
  margin-top: 10px;
}
/* slider Home */
.cNNJIt {
  display: none;
}
.jRFJkP {
  display: none;
}
.buNJCv {
  display: none;
}
.buPiXl {
  display: none;
}
.jJKuoL:hover,
.jJKuoL:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px #2fc391;
}
.gQIqMI:hover,
.gQIqMI:focus {
  cursor: pointer;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.87) !important;
}
.lcUbOd {
  background-color: #2fc391 !important  ;
  width: 6px !important;
  height: 6px !important;
  box-shadow: 0 0 1px 3px #2fc391 !important;
}
.eaptOe {
  width: 6px !important;
  height: 6px !important;
}
.cjDndS {
  background-color: #2fc391 !important  ;
  box-shadow: 0 0 1px 3px #2fc391 !important;
}
.back {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 48%,
    rgba(0, 0, 0, 0.03) 100%
  );
}
.css-1w4dxw6-MuiGrid-root {
  max-width: 33% !important;
  margin-inline: 12px;
  justify-content: center !important;
  align-items: center !important;
}
.horizontal {
  overflow-x: scroll !important;
  white-space: nowrap !important;
  margin-top: 8px !important;
  width: 96% !important;
  display: flow-root !important;
  justify-content: start !important;
  align-items: center !important;
  padding: 5px !important;
  align-self: center !important;
}
.SelectF1 {
  min-width: 150px;
  flex: 1;
  border-radius: 0;
}
.SelectF1 {
  min-width: 150px;
  flex: 1;
  border-radius: 0;
}
.SelectF11 {
  min-width: 150px;
  flex: 1;
  margin-left: 10px;
  border-radius: 0;
}
.SelectM10 {
  min-width: 150px;
  margin-top: 10px;
  border-radius: 0;
}
